{% extends "base.html" %}
{% block title %}Inquiry Detail{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% include "login-btn.html" %}
{% block content %}
<h1>{{post.title}}</h1>
<p>작성자 : {{post.users.username}}</p>
<p>내용 : </p>
<p>{{post.content}}</p>
<p>생성날짜 : {{post.created_at}}</p>
<p>수정날짜 : {{post.updated_at or ""}}</p>
<p></p>
{% if comments.items %}
<hr />
{% for comment in comments.items %}
<p><strong>{{comment.users.username}}</strong> : {{comment.content}}
    {% if comment.users.id == user.id%}
    <a href="/inquiry/delete/comment/{{comment.id}}?post_id={{post.id}}">❌</a>
    {% endif %}
</p>
{% endfor %}

{% set pagination = comments %}
{% set endpoint = 'inquiry_view.inquiry_detail' %}
{% set post_id = post.id %}
{% include 'paging.html'%}
{% endif %}
<hr />
{% if post.users.id == user.id or user.is_admin()%}
<p><a href="/inquiry/comment/{{post.id}}">⌨댓글</a></p>
{% endif %}
{% if post.users.id == user.id%}
<p><a href="/inquiry/update/{{post.id}}">📝수정</a></p>
<p><a href="/inquiry/delete/{{post.id}}">❌삭제</a></p>
{% endif %}
<p><a href="/inquiry">← 목록으로</a></p>
{% endblock %}
{% block scripts %}
{% endblock %}