{% extends "base.html" %}
{% block title %}Notice Comment{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% include "login-btn.html" %}
{% block content %}
{% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
<form method="POST">
    <p>{{username}}</p>
    <p><textarea name="content" rows="5" cols="40" placeholder="댓글을 입력해 주세요."></textarea></p>
    <button type="submit">등록</button>
</form>
<p><a href="/notice/{{post_id}}">← 뒤로가기</a></p>
{% endblock %}
{% block scripts %}
{% endblock %}