{% extends "base.html" %}
{% block title %}Update {{post.id}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
<form method="POST">
    <p>제목: <input type="text" name="title" value="{{post.title}}"></p>
    <p>내용:</p>
    <p><textarea name="content" rows="5" cols="40">{{post.content}}</textarea></p>
    <button type="submit">수정</button>
</form>
<p><a href="/{{post.id}}">← 게시글로 돌아가기</a></p>
{% endblock %}